.btn {
    &-bounce-r {
        @extend .btn;

        color: #00BABA;

        @include bounce(#00BABA, center, #FFF);
    }

    &-send {
        min-width: 30%;

        @extend .btn;

        color: #314F4F;

        @include bounce(#314F4F, center, #FFF);
    }
}
