.mej {
    width: 100%;

    .logo {
        padding: 15px;
        background-color: #FFF;
        border-radius: 5px;
        width: 20%;
        margin: 15px;
        display: inline-block;
        vertical-align: middle;
        height: 150px;
        text-align: center;

        img {
            max-height: 100%;
            max-width: 100%;
        }
    }

    .text {
        width: 70%;
        display: inline-block;
        vertical-align: middle;
    }

    @media (max-width: 768px) {
        .logo {
            width: 100%;
            height: 120px;
        }

        .text {
            width: 100%;
            text-align: justify;
        }
    }
}
