.colored-header, .no-change-header {
    background-color: #FFF;
    box-shadow: 0px 0px 8px 2px rgba(50, 50, 50, 0.4);
    color: #333;

    .menu {
        li {
            &:hover {
                border-color: #00BABA;
            }
        }
    }

    .bars {
        fill: #333;
    }

    .menu-logo {
        filter: none;
    }
}

header {
    background-color: transparent;
    box-shadow: none;
    color: #FFF;
    height: 60px;
    left: 0;
    padding: 0 7%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 6;

    @include transition(background, 0.8s);

    .bars {
        width: 40px;
        height: 50px;
        fill: #FFF;
    }

    .menu {
        float: right;
        min-height: 100%;

        a {
            color: inherit;
            height: 100%;
            width: 100%;

            &:hover {
                text-decoration: none;
            }
        }

        li {
            border-bottom: 3px solid transparent;
            cursor: pointer;
            display: inline-block;
            list-style: none;
            padding: 20px 20px 14px 20px;
            text-align: center;
            transition: all 0.2s;

            &:hover {
                border-color: #FFF;
            }
        }
    }

    .menu-logo {
        float:left {}

        width: 200px;
        padding: 15px 0;
        filter: brightness(100);
    }

    #menu-icon,
    #menu-toggle {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    header {
        &.showing-menu {
            background-color: #FFF;
            box-shadow: "0px 0px 8px 2px rgba(50, 50, 50, 0.4)";
            color: #333;

            .bars {
                fill: #333;
            }

            .menu-logo {
                filter: none;
            }
        }
    }

    .menu {
        background-color: #FFF;
        right: 0;
        max-width: 0px;
        overflow: hidden;
        position: absolute;
        top: 60px;

        @include transition;

        &:after {
            clear: both;
            content: "";
            display: block;
        }

        ul {
            padding: 0;
        }
    }

    #menu-icon {
        cursor: pointer;
        display: block !important;
        float: right;
        font-size: 50px;
        padding: 0;
    }

    .menu li {
        width: 100%;

        &:hover {
            background-color: #00BABA;
            border-color: transparent !important;
            color: #FFF;
        }
    }

    .menu-logo {
        margin-left: 2px;
    }

    #menu-toggle:checked ~ .menu {
        max-width: 100%;
    }
}

@media (max-width: 520px) {
    header {
        padding: 0 3%;
    }
}
