footer {
    background-image: linear-gradient(90deg, darken(#8BC34A, 15%), #8BC34A 90%);
    color: #FFF;
    padding-bottom: 30px;
    padding: 30px 7%;
    position: relative;

    img {
        width: 150px;
        margin-bottom: 15px;
        filter: brightness(100);
    }

    .line {
        background-color: #FFF;
        height: 1px;
        left: 0;
        position: absolute;
        width: 50%;
        z-index: 1;
    }

    p {
        margin-top: 15px;
        margin-bottom: 0;
    }
}
